.chiplist {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  box-sizing: border-box;
  gap: 8px;
}

.measurable {
  /* position: absolute; */
  position: fixed;
  left: -9999px;
  top: -9999px;
  visibility: hidden;
  pointer-events: none;
  gap: 8px;
}
