.content {
  display: flex;
  flex-wrap: wrap;

  max-width: 50vw;
  width: max-content;
  gap: 8px;
  padding: 12px;

  background-color: var(--color-surface, light-dark(white, black));

  border-radius: 8px;
  box-shadow:
    0 0px 4px -1px
      color-mix(
        in oklab,
        var(--color-on-surface, light-dark(black, white)) 20%,
        transparent
      ),
    0 2px 8px 0px
      color-mix(
        in oklab,
        var(--color-on-surface, light-dark(black, white)) 10%,
        transparent
      );

  outline: none;
}

.trigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  cursor: pointer;
}

.trigger:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: currentColor;
  opacity: 0.08;
  border-radius: inherit;
  border: none;
  pointer-events: none;
  z-index: 1;
}

.trigger:active::after {
  cursor: pointer;
  opacity: 0.16;
}

.color-neutral {
  --chip-color-main: purple;
  --chip-color-text: #fff;
  --chip-color-surface: var(--color-surface, light-dark(white, #242424));
  --chip-color-on-surface: var(--color-on-surface, light-dark(black, white));
}
.color-accent {
  --chip-color-main: yellow;
  --chip-color-text: #000000;
  --chip-color-surface: var(--color-surface, light-dark(white, #242424));
  --chip-color-on-surface: var(--color-on-surface, light-dark(black, white));
}
.color-error {
  --chip-color-main: rgb(214, 1, 1);
  --chip-color-text: #fff;
  --chip-color-surface: var(--color-surface, light-dark(white, #242424));
  --chip-color-on-surface: var(--color-on-surface, light-dark(black, white));
}
.color-info {
  --chip-color-main: cornflowerblue;
  --chip-color-text: #000000;
  --chip-color-surface: var(--color-surface, light-dark(white, #242424));
  --chip-color-on-surface: var(--color-on-surface, light-dark(black, white));
}
.color-success {
  --chip-color-main: lime;
  --chip-color-text: #000000;
  --chip-color-surface: var(--color-surface, light-dark(white, #242424));
  --chip-color-on-surface: var(--color-on-surface, light-dark(black, white));
}
.color-warning {
  --chip-color-main: orange;
  --chip-color-text: #000000;
  --chip-color-surface: var(--color-surface, light-dark(white, #242424));
  --chip-color-on-surface: var(--color-on-surface, light-dark(black, white));
}

/* Size Variants */
.size-small {
  height: 24px;
  padding: 0 4px;
  border-radius: 8px;
}

.size-medium {
  height: 32px;
  padding: 0 8px;
  border-radius: 16px;
}

/* Icon Size Variants */
.icon-size-small {
  height: 22px;
}

.icon-size-medium {
  height: 30px;
}

/* Filled Variant */
.variant-filled {
  background-color: color-mix(
    in oklab,
    var(--chip-color-main) 35%,
    color-mix(
        in oklab,
        var(--chip-color-text) 20%,
        var(--chip-color-surface) 100%
      )
      100%
  );
  color: var(--chip-color-on-surface);
}

/* Outlined Variant */
.variant-outlined {
  color: color-mix(
    in oklab,
    var(--chip-color-main) 100%,
    var(--chip-color-on-surface) 60%
  );
  background-color: transparent;
  border: 1px solid
    color-mix(
      in oklab,
      var(--chip-color-main) 90%,
      var(--chip-color-on-surface) 40%
    );
}
