.chip {
  font-family: inherit;
  font-size: 0.8125rem;
  line-height: 1.5;
  white-space: nowrap;
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;

  height: 32px;
  padding: 0 8px;
  gap: 4px;
  max-width: 100%;
  width: fit-content;

  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(255, 255, 255, 1);

  border-radius: 16px;
  border: 1px solid transparent;
  outline: 0;

  transition: all 0.2s ease;

  cursor: default;
}

.chip-button {
  cursor: pointer;
}

.chip-button:hover::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background-color: currentColor;
  opacity: 0.08;
  border-radius: inherit;
  pointer-events: none;
  z-index: 1;
}

.chip-button:active::after {
  cursor: pointer;
  opacity: 0.16;
}

.chip-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.color-neutral {
  --chip-color-main: purple;
  --chip-color-text: #fff;
  --chip-color-surface: var(--color-surface, light-dark(white, #242424));
  --chip-color-on-surface: var(--color-on-surface, light-dark(black, white));
}
.color-accent {
  --chip-color-main: yellow;
  --chip-color-text: #000000;
  --chip-color-surface: var(--color-surface, light-dark(white, #242424));
  --chip-color-on-surface: var(--color-on-surface, light-dark(black, white));
}
.color-error {
  --chip-color-main: rgb(214, 1, 1);
  --chip-color-text: #fff;
  --chip-color-surface: var(--color-surface, light-dark(white, #242424));
  --chip-color-on-surface: var(--color-on-surface, light-dark(black, white));
}
.color-info {
  --chip-color-main: cornflowerblue;
  --chip-color-text: #000000;
  --chip-color-surface: var(--color-surface, light-dark(white, #242424));
  --chip-color-on-surface: var(--color-on-surface, light-dark(black, white));
}
.color-success {
  --chip-color-main: lime;
  --chip-color-text: #000000;
  --chip-color-surface: var(--color-surface, light-dark(white, #242424));
  --chip-color-on-surface: var(--color-on-surface, light-dark(black, white));
}
.color-warning {
  --chip-color-main: orange;
  --chip-color-text: #000000;
  --chip-color-surface: var(--color-surface, light-dark(white, #242424));
  --chip-color-on-surface: var(--color-on-surface, light-dark(black, white));
}

/* Disabled State */
.chip:disabled,
.disabled {
  opacity: 0.38;
  pointer-events: none;
}

.chip:disabled:focus-visible,
.disabled:focus-visible {
  outline: none;
}

/* Size Variants */
.size-small {
  height: 24px;
  padding: 0 4px;
  border-radius: 8px;
}

.size-medium {
  height: 32px;
  padding: 0 8px;
  border-radius: 16px;
}

/* Icon Size Variants */
.icon-size-small {
  height: 16px;
}

.icon-size-medium {
  height: 16px;
}

/* Filled Variant */
.variant-filled {
  background-color: color-mix(
    in oklab,
    var(--chip-color-main) 35%,
    color-mix(
        in oklab,
        var(--chip-color-text) 20%,
        var(--chip-color-surface) 100%
      )
      100%
  );
  color: var(--chip-color-on-surface);
}

.variant-filled.selected {
  background-color: var(--chip-color-main);
  color: var(--chip-color-text);
}

/* Outlined Variant */
.variant-outlined {
  color: color-mix(
    in oklab,
    var(--chip-color-main) 100%,
    var(--chip-color-on-surface) 60%
  );
  background-color: transparent;
  border: 1px solid
    color-mix(
      in oklab,
      var(--chip-color-main) 90%,
      var(--chip-color-on-surface) 40%
    );
}

.variant-outlined.selected {
  color: var(--chip-color-text);
  background-color: var(--chip-color-main);
  border: 1px solid var(--chip-color-main);
}
