#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  min-width: 0px;
  width: 100%;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
}

.root {
  box-sizing: border-box;
  min-width: 0px;
  width: 100%;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  font-weight: 600;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.choice-chip {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}